@model IEnumerable<MailChimp.Models.ContactPerson>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homescreen</title>
    <link rel="stylesheet" href="~/styles/tijmenstyle.css" />
</head>





<body>
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="https://www.renvl.nl/" target="_blank">  <img src="~/Content/logo.png" alt=""></a>
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" @Html.ActionLink("Email", "Index", "Email", null, null)</a>
            <a class="nav-item nav-link active" href="mailto:test@test.com"> restultaten</a>
            <a class="nav-item nav-link active" @Html.ActionLink("ContactPersonen", "Index", "ContactPerson", null, null)</a>
        </div>
    </nav>

    @if (Model.Count() > 0)
    {
        <table class="table">
            <thead class="bg-primary">
        
                    <th>
                        voornaam
                    </th>
                    <th>
                        achternaam
                    </th>
                    <th>
                        label
                    </th>
                    <th>
                        bedrijf
                    </th>
                    <th>
                        mail
                    </th>
                
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                <tr>
                    <td>@obj.personid </td>
                    <td>@obj.firstname </td>
                    <td> @obj.lastname</td>
                </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <p> de lijst bestaat niet.</p>
    }
    <img src="~/Content/bgimage.jpg" , height="100%" , width="100%" />
</body>


